    <section class="settings-section settings-e-vf-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class=" settings-header">
                        <h2><a href="#/dashboard/settings/change-email"> email </a></h2>
                        <h2><a href="#/dashboard/settings/change-mobile">mobile </a></h2>
                        <h2 class="active">change password</h2>
                    </div>
                </div>
            </div>
            <!--// end settings header -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="settings-hero clearfix">

            <form class="login-form" name="changeForm" role="form" novalidate ng-submit="changePass(changePassword);">

                <p class="error-message show" ng-if="errorMessage">{{errorMessage}}</p>

                <p class="success-message show" ng-if="successMessage">{{successMessage}}</p>
                        <h2 class="chng-pasw"> <span>change password</span></h2>
                        <div class="settings-form-container clearfix">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 text-center">
                                <div class="form-group">
                                    <input type="password"  class="form-control" id="email" placeholder="NEW PASSWORD" name="password" ng-model="changePassword.password" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="email" placeholder="CONFIRM PASSWORD" ng-model="changePassword.conPassword" name="conPassword" ng-required="true">
                                </div>
                                <div class="btn_group vf-btn-gp">
                                    <input type="submit" id="code" value="SAVE" class="btn btn-success" ng-disabled="changeForm.$invalid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// end settings content -->
        </div>
    </section>