    <section class="settings-section settings-e-vf-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class=" settings-header">
                        <h2><a href="#/dashboard/settings/change-email"> email </a></h2>
                        <h2 class="active">mobile </h2>
                        <h2><a href="#/dashboard/settings/change-password"> change password </a></h2>
                    </div>
                </div>
            </div>
            <!--// end settings header -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="settings-hero clearfix">
                        <h3 class="mb_num"><i class="im-phone" ></i></i>mobile number</h3>
                        <p class="phone_num">+91 9876543210</p>
                        <p class="verified"> <i class="fa fa-check" aria-hidden="true"></i> verified </p>
                        <div>
                            <h4 class="popup-ce">change mobile no.</h4></div>
                        <h2 class="chng-em-id"> <span> ChanGE mobile no. </span></h2>
                        <div class="settings-form-container clearfix">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 text-center">
                                <div class="form-group">
                                    <input type="text" value="+91 9876543210" class="form-control" id="phone" placeholder="PHONE">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="ENTER NEW MOBILE NUMBER">
                                </div>
                                <div class="btn_group">
                                    <a href="javascript:void(0);" class="btn btn_sm btn-blue">NEXT</a>
                                    <a href="javascript:void(0);" class="btn btn-gray btn_sm btn_cancl">cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// end settings content -->
        </div>
    </section>