<!-- Reset Password -->
<div class="background_img">
    <div class="container">
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6">
              <div class="midsection_form">
                <div class="animated bounceIn">
                <a href="#"><img src="assets/img/logo.png" title="obr" alt="obr"></a>
                </div>
                <div class="form_sec">
                  <div class="steps_frgtpswd">
                    <a href="#">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>Back to login</a>
                    <span>
                      Step-03
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </div>
                  <form role="form" name="resetPasswordData" ng-submit="doresetPassword(resetPasswordData)">
                    <div class="form-group">
                      <input type="password" class="form-control" 
                       placeholder="New Password" ng-model="resetPasswordData.newPassword">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" 
                       placeholder="Confirm Password" ng-model="resetPasswordData.confirmPassword">
                    </div>
                    <div class="forgotpswd"><span href="#" class="invalid_txt" ng-if="errorMessage"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{errorMessage}} </span></div>
                    <input type="submit" class="btn btn-default btn_green animated" value="Reset">
                  </form>
                </div>
              </div>
          </div>
        </div>
    </div>
    </div>
<!-- /.Reset Password -->