<!-- ******HEADER start****** -->
<header id="home_section" class="home_section home_page">
    <div class="container">
        <div class="row">
            <!-- mid-section-logo start -->
            <div class="col-xxs-12  col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 no-padding ">
                <!-- navigation start -->
                <div class="mid-section-logo text-center clearfix">
                    <h1 class="logo" style="padding-bottom: 12px;    padding-top: 1px;">
                        <a href="#"><img src="assets/img/logo.png" class="img-responsive " title="m-pocket" alt="m-pocket"></a>
                    </h1>
                    <form class="invitation-form" role="form" novalidate="">
                        <h2 style="color: #393939; font-size: 28px; font-size: 2.8rem; line-height: 28px; text-transform: uppercase; font-weight: bold; padding-bottom: 26px; display: block; margin-top:0px;">WEBSITE IS UNDER CONSTRUCTION</h2>
                        <div class="contact_info" style="overflow: hidden; margin-bottom: 20px;">
                            <span style="display: inline-block; color: #bababa; font-size: 16px; font-size: 1.6rem; line-height: 18px; line-height: 1.8rem; font-weight: bold; text-transform: uppercase;">Contact us :
          <a style="color: #ff8f0b; font-size: 19px; font-size: 1.9rem; line-height: 18px; line-height: 1.8rem; text-transform: lowercase;" href="mailto:info@mpokket.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@mpokket.com</a></span>
                        </div>
                    </form>
                    <div class="social_icons" style="    width: 88%; margin: 0 auto 25px;">
                        <img style="vertical-align: middle; max-width: 100%; display: block;" src="assets/img/social_icons.png">
                    </div>
                    <div class="play-store " style="    padding-bottom: 18px;">
                        <label class="android">
                            <input type="submit" class="sr-only" ng-disabled="addInvite.$invalid" id="google_play" ng-click="showAlert('google_play')" >
                            <img src="assets/img/google_play.png" class="img-responsive" title="google play" alt="google play">
                        </label>
                        <label class="ios">
                            <input type="submit" class="sr-only" ng-disabled="addInvite.$invalid" id="app_store" ng-click="showAlert('app_store')" >
                            <img src="assets/img/app_store.png" class="img-responsive" title="app store" alt="app store">
                        </label>
                    </div>
                   <strong style="color: #bababa; font-size: 20px; font-size: 2rem; line-height: 18px; line-height: 1.8rem; font-weight: bold; text-transform: uppercase; display: inline-block;">Coming Soon</strong>
                </div>
                <div class="triangle-down-container">
                    <span class="triangle-down"><!-- <span class="coming-soon"><span>Coming soon</span></span> -->
                    </span>
                </div>
            </div>
            <!-- right_mob start -->
            <!--  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m_column_both">
               <div class="right_mob">
                   <i class="img-overflow"><img src="assets/img/home/right_mob.png" class="img-responsive right_mob-img" title="m-pocket-left_mob" alt="m-pocket-left_mob"></i>
                   <i class="right_hand"><img src="assets/img/home/right_hand.png" class="img-responsive right_hand-img  slideInRight animated" title="m-pocket-right_mob" alt="m-pocket-right_mob"></i>
               </div>
           </div> -->
        </div>
    </div>
</header>
<!-- ******secondary-content Start****** -->
<footer style="margin-bottom: 0px; position: fixed; width: 100%; bottom: 0px;">
    
    <div class="footer_section_bottom">
        <p class="copyright text-center" style="line-height: normal;">
            <a href="#" style="    color: #337ab7;">MPOKKET.COM </a><span class="all_r_res"> © 2016. All rights reserved. </span>

        </p>
    </div>
</footer>     
