<!-- ******HEADER start****** -->
<header id="home_section" class="home_section other_page">
    <div class="container">
        <div class="row">
            <!-- mid-section-logo start -->
            <div class="col-xxs-8 col-xxs-offset-2 col-xs-6 col-xs-offset-3 col-sm-5 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 no-padding fix_w_m">
                <div class="nav-container">
                    <!-- navigation start -->
                    <div class="mid-section-logo text-center">
                        <nav class="navbar ">
                            <ul class="nav navbar-nav">
                                <li><a href="javascript:void(0);">HOME</a></li>
                                <li><a href="javascript:void(0);">ABOUT</a></li>
                                <li><a href="javascript:void(0);">CONTACT</a></li>
                            </ul>
                        </nav>
                        <h1 class="logo">
                        <a href="javascript:void(0);"><img src="assets/img/logo.png" class="img-responsive " title="m-pocket" alt="m-pocket"></a>
                    </h1>
                    </div>
                    <span class="triangle-down"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ******secondary-content Start****** -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">
                <div class="conversation-done-body email-send-success">                    
                    <div class="img-smile"></div>
                    <h2 class="heading">Congratulations</h2>
                    <h2 class="vf-txt">Your Email Address has been successfully verified.</h2>
                    <div class="form-group conversations-done-return">
                        <a href="javascript:void(0);" class="btn btn-success btn-blue">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
        <!--// end conversation body -->
    </div>
</section>
<!-- ******secondary-content End****** -->
<!-- ******HEADER End****** -->
<footer>
    <div class="footer_section">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
                    <div class="contact_us">
                        <h2> <a href="javascript:void(0);"> CONTACT US </a></h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
                    <div class="envo_m">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <p><a href="javascript:void(0);"> info@mpokket.com </a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="get_social">
                        <p>Get social</p>
                        <a href="javascript:void(0);"><i class="fa fa-facebook social_bg" aria-hidden="true" title="facebook"></i></a>
                        <a href="javascript:void(0);"> <i class="fa fa-twitter social_bg" aria-hidden="true" title="twitter"></i></a>
                        <a href="javascript:void(0);"> <i class="fa linkedin social_bg">
                        <span title="linkedin"></span></i></a>
                        <a href="javascript:void(0);"> <i class="fa googleplus social_bg">
                        <span title="google plus"></span> </i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_section_bottom">
        <p class="copyright text-center">
            <a href="javascript:void(0);" class="terms-condation">TERMS &amp; PRIVACY POLICY</a> <span class="point">&bull;</span><a href="javascript:void(0);">mPokket.com </a><span class="all_r_res"> &copy; 2016. All rights reserved. </span>
        </p>
    </div>
</footer>