<!-- Modal content-->
<div class="modal-content mpokketmodal loadcash_pop orange_modal">
    <div class="modal-body">
        <!-- <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button> -->
        <h2>KYC INFORMATION</h2>
        <p>KYC Stands for “Know Your Customer”. Know your customer (KYC) policy is an important step developed globally to prevent identity theft, financial fraud, money laundering and terrorist financing.</p>
        <p>The individual/s will have to provide the original document for verification and submit a copy for the Bank’s record.</p>

        <h6>• Identity Proof(any one of the following)</h6>

        <ul>
        	<li>i. Passport</li>
        	<li>ii. PAN card</li>
        	<li>iii. Voter’s Identity Card</li>
        	<li>iv. Driving license</li>
        	<li>v. Ration Card</li>
        	<li>vi. Identity card (subject to the bank’s satisfaction)</li>
        </ul>

        <h6>• Address Proof(any one of the following)</h6>

        <ul>
        	<li>i. Utility bill</li>
        	<li>ii. Bank account statement received by mail / courier along with signature verification by the Banker or a cheque drawn on that account for a minimum amount as specified by the Bank, deposited into the account</li>
        	<li>iii. Ration card</li>
        	<li>iv. Letter from employer (subject to satisfaction of the bank)</li>
        	
        </ul>

	<a data-dismiss="modal" ng-click="cancel();" class="btn btn-round btn-white close-modal-orange" title="KYC details"> close</a>
    </div>
</div>