<!-- Modal content-->
<div class="modal-content mpokketmodal loadcash_pop">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();">&times;</button>
        <!-- <h2 class="modal-title modal_hr_head">{{account_no}}</h2> -->
        <h2>Load Cash</h2>
        <p>
            Please transfer funds using online or mobile banking (cash deposits not accepted) to the following bank account
        </p>
        <div class="loadcash_list">
            <ul>
                <li>
                    <strong>ISFC code:</strong>
                    <span>HDFC0000240</span>
                </li>
                <li>
                    <strong>Account number:</strong>
                    <span>{{account_no}}</span>
                </li>
                <li>
                    <strong>Account type:</strong>
                    <span>Current a/c</span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span><a>support@mpokket.com</a></span>
                </li>
            </ul>
        </div>
        <p>
            Your wallet balance will be updated on the next working day. If you make the transfer after 6 pm your balance will be updated after 2 working days. 
        </p>
    </div>
</div>