<footer>
    <div class="footer_section">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
                    <div class="contact_us">
                        <h2> <a href="#"> CONTACT US </a></h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
                    <div class="envo_m">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <p><a href="mailto:info@mpokket.com"> info@mpokket.com </a></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="get_social">
                        <p>Get social</p>
                        <a href="#"><i class="fa fa-facebook social_bg" aria-hidden="true" title="facebook"></i></a>
                        <a href="#"> <i class="fa fa-twitter social_bg" aria-hidden="true" title="twitter"></i></a>
                        <a href="#"> <i class="fa linkedin social_bg">
                        <span title="linkedin"></span></i></a>
                        <a href="#"> <i class="fa googleplus social_bg">
                        <span title="google plus"></span> </i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_section_bottom">
        <p class="copyright text-center">
            <a href="#" class="terms-condation">TERMS &amp; PRIVACY POLICY</a> <span class="point">&bull;</span><a href="#">mPokket.com </a><span class="all_r_res"> &copy; 2016. All rights reserved. </span>
        </p>
    </div>
</footer>